/* Chat colors */
.me { color: #f70 !important }

.sys_comm { color: #f33 !important }

.nar { color: lightblue !important }

.nar2 { color: #D6A2FF !important }

.nar3 { color: #00CED1 !important }

.dial1 { color: #33CC66 !important }

.dial2 { color: #CC9966 !important }

.dial3 { color: #D3D3D3 !important }

.dial666 { color: #FF66FF !important }

/* Weather */
.nerthus-weather {
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

/* Widgets */
#nerthus-widgets-container {
    pointer-events: none;
    position: absolute;
    width: 512px;
    z-index: 300;
}

.layer.interface-layer > #nerthus-widgets-container {
    top: 60px;
}

.chat-size-0 #nerthus-widgets-container {margin-left: 5px;}

.chat-size-1 #nerthus-widgets-container {margin-left: 260px;}

.chat-size-2 #nerthus-widgets-container {margin-left: 515px;}

.nerthus__widget {
    display: flex;
    opacity: 0.8;
    pointer-events: none;
    z-Index: 300;
}

.nerthus__widget .nerthus__widget-image {
    display: block;
    height: 55px;
    margin: 5px;
    pointer-events: all;
    width: 55px;
}

.nerthus__widget .nerthus__widget-desc {
    align-items: center;
    color: #F0F8FF;
    display: flex;
    font: bold 14px Georgia;
    margin-left: 5px;
    opacity: 0;
    pointer-events: none;
    transition: .195s ease-in;
    width: 410px;
}

.nerthus__widget:hover .nerthus__widget-desc {
    opacity: 0.8;
    transition: .225s ease-out;
}

/* Night */
#nerthus-night {
    background-color: black;
    pointer-events: none;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

.nerthus__night-light {
    opacity: 0; /* for transition */
    pointer-events: none;
    position: absolute;
    transition: opacity 0.5s ease-in-out;
}

/* Shield */
#nerthus-shield {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

#nerthus-shield:hover {
    opacity: 0.6;
}

/* Panel */
#nerthus-panel {
    animation: fade 0.5s;
    border-image: url(http://tempest.margonem.pl/img/gui/tmp/window-frame.png) 32 20 repeat;
    border-style: solid;
    border-width: 34px 13px 10px 13px;
    color: #000;
    cursor: url(http://nerthus.margonem.pl/img/gui/cursor/1.png), url(http://nerthus.margonem.pl/img/gui/cursor/1.cur), auto;
    left: calc(50% - 204px);
    pointer-events: auto;
    position: fixed;
    top: calc(50% - 150px);
    transition: opacity 0.35s ease-in-out;
    width: 380px;
    z-index: 499;
}

#nerthus-panel > .background {
    background-color: #f1deaa;
    background-image: url(http://tempest.margonem.pl/img/gui/content-redleather.jpg);
}

/* Panel - nav */
#nerthus-panel > .header-label-positioner {
    left: 10px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    text-align: center;
    top: -35px;
}

#nerthus-panel .header-label {
    background: url(http://tempest.margonem.pl/img/gui/dialogue/dialogi-naglowek.png);
    display: inline-block;
    height: 28px;
    margin: 0 auto;
    position: relative;
}

#nerthus-panel .header-label > .right-decor,
#nerthus-panel .header-label > .left-decor {
    background: url(http://tempest.margonem.pl/img/gui/dialogue/dialogi.png) -38px -2px;
    height: 28px;
    left: -52px;
    position: absolute;
    top: 0;
    width: 52px;
}

#nerthus-panel .header-label > .right-decor {
    background-position: -91px -2px;
    left: auto;
    right: -52px;
}

#nerthus-panel .header-label > span {
    color: #f5f5dc;
    line-height: 28px;
    text-align: center;
}

#nerthus-panel .panel-name {
    transition: width 0.35s ease-in-out;
}

#nerthus-panel > .close-decor {
    background: url(http://tempest.margonem.pl/img/gui/buttony.png?v=5) -380px -55px;
    height: 52px;
    pointer-events: none;
    position: absolute;
    right: -15px;
    top: -35px;
    width: 51px;
}

#nerthus-panel .close-button {
    background: url(http://tempest.margonem.pl/img/gui/buttony.png?v=5) -263px -79px;
    border: 0;
    cursor: url(http://nerthus.margonem.pl/img/gui/cursor/5.png), url(http://nerthus.margonem.pl/img/gui/cursor/5.cur), pointer;
    height: 22px;
    padding: 0;
    pointer-events: auto;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 22px;
}

#nerthus-panel .close-button:hover {
    background-position: -286px -79px;
}

/* Panel - body */
#nerthus-panel .hidden {
    display: none;
}

#nerthus-panel .top-box {
    display: flex;
    height: 150px;
    justify-content: space-around;
}

#nerthus-panel .button-group {
    border: 1px solid #d8c28d;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 110px;
    justify-content: space-evenly;
    margin-top: 30px;
    padding-top: 10px;
    width: 110px;
}

#nerthus-panel .button {
    background-image: linear-gradient(to top, #12210d, #396b29);
    border: 1px solid #0c0d0d;
    border-radius: 4px;
    box-shadow: inset 0 0 1px 1px #cecece, inset 0 0 0 3px #0c0d0d;
    box-sizing: border-box;
    color: #E6D6BF;
    cursor: url(http://nerthus.margonem.pl/img/gui/cursor/5.png), url(http://nerthus.margonem.pl/img/gui/cursor/5.cur), pointer;
    display: inline-block;
    height: 42px;
    line-height: 34px;
    position: relative;
    width: 42px;
}

#nerthus-panel .button:before {
    backface-visibility: hidden;
    border-radius: 4px;
    bottom: 3px;
    box-shadow: inset 0 0 1px 1px #7ec568a6;
    content: '';
    left: 3px;
    position: absolute;
    right: 3px;
    top: 3px;
    transform: translateZ(0);
}

#nerthus-panel .button:after {
    border-radius: 3px;
    bottom: 0;
    box-shadow: 0 1px 0 1px #0c0d0d;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

#nerthus-panel .button:hover:before {
    box-shadow: inset 0 0 1px 1px #909090a6;
}

#nerthus-panel .button:hover {
    background-image: linear-gradient(to top, #101010, #434343);
}

#nerthus-panel #button-group-center {
    padding-top: 30px;
}

#nerthus-panel #button-group-left:before,
#nerthus-panel #button-group-right:before,
#nerthus-panel #button-group-center:before {
    position: absolute;
    top: 10px;
}

#nerthus-panel #button-group-left::before {
    content: 'Forum';
}

#nerthus-panel #button-group-right::before {
    content: 'Systemy';
}

#nerthus-panel #button-group-center:before {
    content: 'Aktualności';
}


#nerthus-panel .bottom-box {
    display: flex;
    height: 50px;
    justify-content: center;
}

#nerthus-panel .text-button {
    border-radius: 6px;
    height: 28px;
    line-height: 24px;
    margin-top: 10px;
    text-align: center;
    width: 74px;
}

#nerthus-panel .text-button::before,
#nerthus-panel .text-button::after {
    content: unset;
}

#nerthus-panel .nerthus-settings-button {
    background-image: linear-gradient(to top, #081522, #1d4873);
    bottom: 6px;
    box-shadow: inset 0 0 1px 1px #cecece, inset 0 0 0 3px #0c0d0d;
    height: 35px;
    padding: 2px 0 0 0;
    position: absolute;
    right: 5px;
    width: 35px;
}

#nerthus-panel .nerthus-settings-button:not(.back-to-default):not(:hover)::before {
    box-shadow: inset 0 0 1px 1px #5594d4a6;
}

#nerthus-panel .nerthus-settings-button.back-to-default:not(:hover) {
    background-image: linear-gradient(to top, #12210d, #396b29);
}


/* Panel - settings */
#nerthus-panel .settings-panel > .top-box {
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0 0 15px;
}

#nerthus-panel .setting-label {
    cursor: unset;
    height: 24px;
    position: relative;
    width: 155px;
}

#nerthus-panel .setting-label-text {
    cursor: url(http://nerthus.margonem.pl/img/gui/cursor/5.png), url(http://nerthus.margonem.pl/img/gui/cursor/5.cur), pointer;;
    left: 25px;
    line-height: 28px;
    position: relative;
}

#nerthus-panel .setting-checkbox {
    display: none;
}

#nerthus-panel .checkbox-outline {
    border: 2px solid #6e644b;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: url(http://nerthus.margonem.pl/img/gui/cursor/5.png), url(http://nerthus.margonem.pl/img/gui/cursor/5.cur), pointer;;
    display: inline-block;
    height: 18px;
    left: 0;
    margin: 0;
    overflow: hidden;
    position: absolute;
    top: 3px;
    width: 18px;
    z-index: 2;
}

.checkmark {
    display: none;
    height: 22px;
    left: -4px;
    pointer-events: none;
    position: relative;
    top: -2px;
    transform: rotate(45deg);
    width: 22px;
}

.checkmark-stem {
    background-color: #f1dfa8;
    height: 13px;
    left: 10px;
    position: absolute;
    top: 2px;
    width: 2px;
}

.checkmark-kick {
    background-color: #f1dfa8;
    height: 2px;
    left: 5px;
    position: absolute;
    top: 13px;
    width: 6px;
}

#nerthus-panel .setting-checkbox:checked + .checkbox-outline {
    background-color: #6e644b;
}

#nerthus-panel .setting-checkbox:checked + .checkbox-outline .checkmark {
    display: inline-block;
}

#nerthus-panel .settings-panel .save-button {
    margin-right: 30px;
}

#nerthus-panel .settings-panel .cancel-button {
    margin-left: 30px;
}

#nerthus-panel .settings-panel .cancel-button:not(:hover) {
    background-image: linear-gradient(to top, #310b0b, #831f1f);
}

#nerthus-panel .settings-panel .cancel-button:not(:hover)::before {
    box-shadow: inset 0 0 1px 1px #da6161a6;
}
