{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "eslint:recommended",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly",
    "Engine": "readonly",
    "g": "readonly",
    "INTERFACE": "readonly",
    "map": "readonly",
    "$": "readonly",
    "API": "readonly",
    "chatScroll": "readonly",
    "log": "readonly",
    "error": "readonly",
    "FILE_PREFIX": "readonly",
    "AVAILABLE_MAP_FILES": "readonly",
    "CFG": "readonly",
    "hero": "readonly",
    "_g": "readonly",
    "_t": "readonly",
    "message": "readonly",
    "addScrollbar": "readonly",
    "removeScrollbar": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ]
  }
}
