name: Release

on:
  release:
    types:
      - published

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Set up credentials
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

      - name: Install dependencies
        run: npm i

      - name: Checkout to production
        run: git checkout -B production

      - name: Update version
        run: |
          echo "${GITHUB_REF#*/*/}" > version
          git add -f version

      - name: Run build
        run: npm run-script build

      - name: Add dist directory
        run: git add -f dist

      - name: Commit files
        run: |
          git commit -m "Release: ${GITHUB_REF#*/*/}" | echo

      # We need to change tag, so that it points to the newest build.
      # Since that's how we do cache busting on cdn
      - name: Change tag
        run: |
          RELEASE_TITLE=$(hub release show "${GITHUB_REF#*/*/}" -f %t)
          RELEASE_DESC=$(hub release show "${GITHUB_REF#*/*/}" -f %b)

          git tag -f -a "${GITHUB_REF#*/*/}" -m "$RELEASE_TITLE" -m "$RELEASE_DESC"
        env:
          GITHUB_USER: <ORG>
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Push changes
        run: |
          git push --set-upstream origin production --force
          git push origin "${GITHUB_REF#*/*/}" --force
