name: Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    environment: test

    strategy:
      matrix:
        node-version: [24.x]

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm clean-install
      - run: npm run test
